.App {
  text-align: center;
  margin: 40px;
}

.App footer {
  margin-top: 30px;
}

.App a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in-out;
  
}

.App a:hover {
  color: #8dc6ff;
}