.Synonyms {
    margin: 10px 0;
    padding: 0 auto;
}

.Synonyms li {
    display: inline-block;
    color: #8dc6ff;
    font-size: 16px;
    text-align: center;
    padding-right: 10px;
    line-height: 1;
}